Repository SCCapstone/decision_maker, pull requests merged in 2020-05, with the labels that each got.

#557 Frontend cleanup and some new changes
  front_end_pocket_poll/android/app/src/main/AndroidManifest.xml
  front_end_pocket_poll/android/app/src/main/java/com/example/milestone_3/MainActivity.java
  front_end_pocket_poll/lib/about_widgets/about_descriptions.dart
  front_end_pocket_poll/lib/categories_widgets/categories_create.dart
  front_end_pocket_poll/lib/categories_widgets/categories_edit.dart
  front_end_pocket_poll/lib/categories_widgets/categories_list_item.dart
  front_end_pocket_poll/lib/categories_widgets/choice_row.dart
  front_end_pocket_poll/lib/events_widgets/event_create.dart
  front_end_pocket_poll/lib/first_login.dart
  front_end_pocket_poll/lib/groups_widgets/group_left_row.dart
  front_end_pocket_poll/lib/groups_widgets/group_settings.dart
  front_end_pocket_poll/lib/groups_widgets/groups_create.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/user_settings.dart
  front_end_pocket_poll/lib/utilities/utilities.dart
  front_end_pocket_poll/lib/utilities/validator.dart
  front_end_pocket_poll/lib/widgets/category_popup_single.dart
  front_end_pocket_poll/lib/widgets/favorites_page.dart
  front_end_pocket_poll/lib/widgets/members_page.dart
  front_end_pocket_poll/lib/widgets/user_row.dart
  front_end_pocket_poll/lib/widgets/user_row_events.dart
  front_end_pocket_poll/pubspec.lock
  front_end_pocket_poll/pubspec.yaml
Labels: Front End, enhancement

#559 First version of database maintenance.
  backEnd/pom.xml
  backEnd/src/main/java/DbMaintenance/Managers/MaintenanceDbAccessManager.java
  backEnd/src/main/java/DbMaintenance/controllers/DbMaintenanceController.java
  backEnd/src/main/java/DbMaintenance/controllers/KeyUserRatingsByVersionController.java
  backEnd/src/main/java/DbMaintenance/handlers/KeyUserRatingsByVersionHandler.java
  backEnd/src/main/java/DbMaintenance/modules/MaintenanceInjector.java
  backEnd/src/main/java/DbMaintenance/modules/PocketPollMaintenanceComponent.java
  backEnd/src/main/java/DbMaintenance/modules/PocketPollMaintenanceModule.java
  backEnd/src/main/java/managers/DbAccessManager.java
Labels: Back End

#556 Updated the back end to use new user category rating structure and user response without ratings
  backEnd/pom.xml
  backEnd/src/main/java/DbMaintenance/Managers/MaintenanceDbAccessManager.java
  backEnd/src/main/java/DbMaintenance/controllers/DbMaintenanceController.java
  backEnd/src/main/java/DbMaintenance/controllers/KeyUserRatingsByVersionController.java
  backEnd/src/main/java/DbMaintenance/handlers/KeyUserRatingsByVersionHandler.java
  backEnd/src/main/java/DbMaintenance/modules/MaintenanceInjector.java
  backEnd/src/main/java/DbMaintenance/modules/PocketPollMaintenanceComponent.java
  backEnd/src/main/java/DbMaintenance/modules/PocketPollMaintenanceModule.java
  backEnd/src/main/java/controllers/GetCategoriesController.java
  backEnd/src/main/java/controllers/NewEventController.java
  backEnd/src/main/java/controllers/PendingEventsScanningController.java
  backEnd/src/main/java/controllers/UpdateUserChoiceRatingsController.java
  backEnd/src/main/java/handlers/EditCategoryHandler.java
  backEnd/src/main/java/handlers/GetCategoriesHandler.java
  backEnd/src/main/java/handlers/GetUserDataHandler.java
  backEnd/src/main/java/handlers/NewCategoryHandler.java
  backEnd/src/main/java/handlers/UpdateUserChoiceRatingsHandler.java
  backEnd/src/main/java/handlers/UpdateUserSettingsHandler.java
  backEnd/src/main/java/managers/DbAccessManager.java
  backEnd/src/main/java/models/CategoryRatingTuple.java
  backEnd/src/main/java/models/Event.java
  backEnd/src/main/java/models/Favorite.java
  backEnd/src/main/java/models/User.java
  backEnd/src/main/java/models/UserForApiResponse.java
  backEnd/src/main/java/models/UserRatings.java
  backEnd/src/main/java/utilities/NondeterministicOptimalChoiceSelector.java
  backEnd/src/test/java/handlers/EditCategoryHandlerTest.java
  backEnd/src/test/java/handlers/NewCategoryHandlerTest.java
  backEnd/src/test/java/handlers/UpdateUserChoiceRatingsHandlerTest.java
  backEnd/src/test/json/edmond2.json
  backEnd/src/test/json/john_andrews12.json
  backEnd/src/test/json/johnplaysgolf.json
  front_end_pocket_poll/lib/groups_widgets/group_categories.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/widgets/category_row_group.dart
Labels: Back End

#561 Updates to frontend categories
  README.md
  front_end_pocket_poll/lib/categories_widgets/categories_create.dart
  front_end_pocket_poll/lib/categories_widgets/categories_edit.dart
  front_end_pocket_poll/lib/categories_widgets/categories_list.dart
  front_end_pocket_poll/lib/events_widgets/event_details_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_update_ratings.dart
  front_end_pocket_poll/lib/groups_widgets/group_categories.dart
  front_end_pocket_poll/lib/imports/categories_manager.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/imports/users_manager.dart
  front_end_pocket_poll/lib/models/category_rating_tuple.dart
  front_end_pocket_poll/lib/models/user.dart
  front_end_pocket_poll/lib/utilities/utilities.dart
  front_end_pocket_poll/lib/widgets/category_popup_single.dart
  front_end_pocket_poll/lib/widgets/category_row_group.dart
  front_end_pocket_poll/pubspec.lock
  front_end_pocket_poll/pubspec.yaml
  front_end_pocket_poll/test_driver/app_test.dart
Labels: Front End, enhancement

#562 Updated group category mappings to include the creator.
  backEnd/src/main/java/controllers/CreateNewGroupController.java
  backEnd/src/main/java/controllers/EditGroupController.java
  backEnd/src/main/java/dbMaintenance/controllers/AddCategoryCreatorToGroupController.java
  backEnd/src/main/java/dbMaintenance/controllers/DbMaintenanceController.java
  backEnd/src/main/java/dbMaintenance/handlers/AddCategoryCreatorToGroupHandler.java
  backEnd/src/main/java/dbMaintenance/managers/MaintenanceDbAccessManager.java
  backEnd/src/main/java/dbMaintenance/modules/PocketPollMaintenanceComponent.java
  backEnd/src/main/java/dbMaintenance/modules/PocketPollMaintenanceModule.java
  backEnd/src/main/java/handlers/CreateNewGroupHandler.java
  backEnd/src/main/java/handlers/EditCategoryHandler.java
  backEnd/src/main/java/handlers/EditGroupHandler.java
  backEnd/src/main/java/managers/DbAccessManager.java
  backEnd/src/main/java/models/Group.java
  backEnd/src/main/java/models/GroupCategory.java
  backEnd/src/test/java/handlers/EditCategoryHandlerTest.java
  front_end_pocket_poll/lib/groups_widgets/group_categories.dart
  front_end_pocket_poll/lib/groups_widgets/group_settings.dart
  front_end_pocket_poll/lib/groups_widgets/groups_create.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/models/category.dart
  front_end_pocket_poll/lib/models/group.dart
  front_end_pocket_poll/lib/models/group_category.dart
  front_end_pocket_poll/lib/widgets/category_pick.dart
Labels: Back End

#563 Got rid of future builder in event category pick
  front_end_pocket_poll/lib/widgets/category_popup_single.dart
  front_end_pocket_poll/lib/widgets/category_row.dart
Labels: Front End

#564 Renaming and moving of frontend files
  front_end_pocket_poll/lib/categories_widgets/categories_home.dart
  front_end_pocket_poll/lib/categories_widgets/categories_list_item.dart
  front_end_pocket_poll/lib/categories_widgets/category_create.dart
  front_end_pocket_poll/lib/categories_widgets/category_edit.dart
  front_end_pocket_poll/lib/events_widgets/event_create.dart
  front_end_pocket_poll/lib/events_widgets/event_details_closed.dart
  front_end_pocket_poll/lib/events_widgets/event_details_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_details_occurring.dart
  front_end_pocket_poll/lib/events_widgets/event_details_voting.dart
  front_end_pocket_poll/lib/events_widgets/event_pick_category.dart
  front_end_pocket_poll/lib/events_widgets/event_user_row.dart
  front_end_pocket_poll/lib/groups_widgets/group_categories.dart
  front_end_pocket_poll/lib/groups_widgets/group_category_row.dart
  front_end_pocket_poll/lib/groups_widgets/group_create.dart
  front_end_pocket_poll/lib/groups_widgets/group_create_pick_categories.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/main.dart
  front_end_pocket_poll/lib/widgets/first_login.dart
  front_end_pocket_poll/lib/widgets/login_page.dart
  front_end_pocket_poll/lib/widgets/user_settings.dart
  front_end_pocket_poll/test_driver/app_test.dart
Labels: Front End, refactor

#565 Moved events unseen data from getUserData to getGroup response
  backEnd/src/main/java/controllers/ProxyPostController.java
  backEnd/src/main/java/dbMaintenance/handlers/AddCategoryCreatorToGroupHandler.java
  backEnd/src/main/java/handlers/GetCategoriesHandler.java
  backEnd/src/main/java/handlers/GetGroupHandler.java
  backEnd/src/main/java/models/Model.java
  backEnd/src/main/java/models/User.java
  backEnd/src/main/java/models/UserForApiResponse.java
  backEnd/src/main/java/models/UserRatings.java
  backEnd/src/main/java/utilities/JsonUtils.java
  front_end_pocket_poll/lib/events_widgets/event_card_closed.dart
  front_end_pocket_poll/lib/events_widgets/event_card_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_card_occurring.dart
  front_end_pocket_poll/lib/events_widgets/event_card_voting.dart
  front_end_pocket_poll/lib/events_widgets/event_create.dart
  front_end_pocket_poll/lib/events_widgets/event_details_closed.dart
  front_end_pocket_poll/lib/events_widgets/event_details_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_details_occurring.dart
  front_end_pocket_poll/lib/events_widgets/event_details_voting.dart
  front_end_pocket_poll/lib/events_widgets/event_pick_category.dart
  front_end_pocket_poll/lib/events_widgets/event_update_ratings.dart
  front_end_pocket_poll/lib/events_widgets/events_list.dart
  front_end_pocket_poll/lib/groups_widgets/group_categories.dart
  front_end_pocket_poll/lib/groups_widgets/group_category_row.dart
  front_end_pocket_poll/lib/groups_widgets/group_create.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/groups_widgets/group_row.dart
  front_end_pocket_poll/lib/groups_widgets/group_settings.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/models/get_group_response.dart
  front_end_pocket_poll/lib/models/user_group.dart
  front_end_pocket_poll/lib/widgets/members_page.dart
Labels: Back End, enhancement

#568 Updated event push notification to have events unseen count. Updated group create/edit validation. Created getEvent handler.
  backEnd/src/main/java/controllers/GetEventController.java
  backEnd/src/main/java/controllers/ProxyPostController.java
  backEnd/src/main/java/handlers/CreateNewGroupHandler.java
  backEnd/src/main/java/handlers/EditGroupHandler.java
  backEnd/src/main/java/handlers/GetBatchOfEventsHandler.java
  backEnd/src/main/java/handlers/GetEventHandler.java
  backEnd/src/main/java/handlers/NewEventHandler.java
  backEnd/src/main/java/handlers/ProcessPendingEventHandler.java
  backEnd/src/main/java/managers/DbAccessManager.java
  backEnd/src/main/java/models/Event.java
  backEnd/src/main/java/models/Metadata.java
  backEnd/src/main/java/modules/PocketPollComponent.java
  backEnd/src/main/java/modules/PocketPollModule.java
  backEnd/src/main/java/utilities/Config.java
  front_end_pocket_poll/lib/events_widgets/event_details_closed.dart
  front_end_pocket_poll/lib/events_widgets/event_details_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_details_occurring.dart
  front_end_pocket_poll/lib/events_widgets/event_details_voting.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/widgets/members_page.dart
Labels: Back End, Front End, enhancement

#570 Favorites can now be added from user image popup
  backEnd/src/main/java/controllers/AddFavoriteController.java
  backEnd/src/main/java/controllers/ProxyPostController.java
  backEnd/src/main/java/handlers/AddFavoriteHandler.java
  backEnd/src/main/java/modules/PocketPollComponent.java
  backEnd/src/main/java/modules/PocketPollModule.java
  front_end_pocket_poll/lib/imports/users_manager.dart
  front_end_pocket_poll/lib/utilities/utilities.dart
Labels: Back End, Front End, enhancement

#573 New Events List
  front_end_pocket_poll/lib/events_widgets/event_card_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_create.dart
  front_end_pocket_poll/lib/events_widgets/event_details_closed.dart
  front_end_pocket_poll/lib/events_widgets/event_details_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_details_occurring.dart
  front_end_pocket_poll/lib/events_widgets/event_details_voting.dart
  front_end_pocket_poll/lib/events_widgets/event_update_ratings.dart
  front_end_pocket_poll/lib/events_widgets/events_list.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/main.dart
  front_end_pocket_poll/lib/widgets/login_page.dart
  front_end_pocket_poll/test/widget_test.dart
  front_end_pocket_poll/test_driver/app_test.dart
Labels: Behavioral Test, Front End, enhancement

#575 Reworked the category model to remove versions and to update choices to use labels as identifiers.
  backEnd/src/main/java/controllers/NewCategoryController.java
  backEnd/src/main/java/controllers/UpdateUserChoiceRatingsController.java
  backEnd/src/main/java/dbMaintenance/controllers/DbMaintenanceController.java
  backEnd/src/main/java/dbMaintenance/controllers/KeyChoicesByLabelController.java
  backEnd/src/main/java/dbMaintenance/controllers/UnkeyUserRatingsByVersionController.java
  backEnd/src/main/java/dbMaintenance/handlers/KeyChoicesByLabelHandler.java
  backEnd/src/main/java/dbMaintenance/handlers/UnkeyUserRatingsByVersionHandler.java
  backEnd/src/main/java/dbMaintenance/managers/MaintenanceDbAccessManager.java
  backEnd/src/main/java/dbMaintenance/modules/PocketPollMaintenanceComponent.java
  backEnd/src/main/java/dbMaintenance/modules/PocketPollMaintenanceModule.java
  backEnd/src/main/java/handlers/EditCategoryHandler.java
  backEnd/src/main/java/handlers/GetCategoriesHandler.java
  backEnd/src/main/java/handlers/GetGroupHandler.java
  backEnd/src/main/java/handlers/NewCategoryHandler.java
  backEnd/src/main/java/handlers/NewEventHandler.java
  backEnd/src/main/java/handlers/UpdateUserChoiceRatingsHandler.java
  backEnd/src/main/java/managers/DbAccessManager.java
  backEnd/src/main/java/models/Category.java
  backEnd/src/main/java/models/Event.java
  backEnd/src/main/java/models/EventWithCategoryChoices.java
  backEnd/src/main/java/models/User.java
  backEnd/src/main/java/models/UserRatings.java
  backEnd/src/main/java/modules/PocketPollModule.java
  backEnd/src/main/java/utilities/NondeterministicOptimalChoiceSelector.java
  backEnd/src/main/java/utilities/RequestFields.java
  backEnd/src/main/java/utilities/ResultStatus.java
  backEnd/src/test/java/handlers/EditCategoryHandlerTest.java
  backEnd/src/test/java/handlers/NewCategoryHandlerTest.java
  backEnd/src/test/java/handlers/UpdateUserChoiceRatingsHandlerTest.java
  backEnd/src/test/json/categoryLunchOptions.json
  backEnd/src/test/json/edmond2.json
  backEnd/src/test/json/john_andrews12.json
  backEnd/src/test/json/johnplaysgolf.json
  front_end_pocket_poll/lib/categories_widgets/category_create.dart
  front_end_pocket_poll/lib/categories_widgets/category_edit.dart
  front_end_pocket_poll/lib/categories_widgets/choice_row.dart
  front_end_pocket_poll/lib/events_widgets/event_update_ratings.dart
  front_end_pocket_poll/lib/imports/categories_manager.dart
  front_end_pocket_poll/lib/imports/users_manager.dart
  front_end_pocket_poll/lib/models/category.dart
Labels: Back End, Front End, bug

#577 Choices Overhaul
  backEnd/src/main/java/handlers/UpdateUserSettingsHandler.java
  front_end_pocket_poll/lib/about_widgets/about_descriptions.dart
  front_end_pocket_poll/lib/categories_widgets/categories_list.dart
  front_end_pocket_poll/lib/categories_widgets/category_create.dart
  front_end_pocket_poll/lib/categories_widgets/category_edit.dart
  front_end_pocket_poll/lib/categories_widgets/choice_row.dart
  front_end_pocket_poll/lib/events_widgets/event_details_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_update_ratings.dart
  front_end_pocket_poll/lib/groups_widgets/group_categories.dart
  front_end_pocket_poll/lib/groups_widgets/group_category_row.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/imports/categories_manager.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/utilities/sorter.dart
  front_end_pocket_poll/lib/utilities/utilities.dart
  front_end_pocket_poll/test_driver/app_test.dart
Labels: Front End, enhancement

#578 New Theme
  front_end_pocket_poll/android/app/build.gradle
  front_end_pocket_poll/android/app/src/main/AndroidManifest.xml
  front_end_pocket_poll/lib/categories_widgets/categories_home.dart
  front_end_pocket_poll/lib/categories_widgets/category_create.dart
  front_end_pocket_poll/lib/categories_widgets/category_edit.dart
  front_end_pocket_poll/lib/categories_widgets/choice_row.dart
  front_end_pocket_poll/lib/events_widgets/event_details_voting.dart
  front_end_pocket_poll/lib/events_widgets/event_update_ratings.dart
  front_end_pocket_poll/lib/events_widgets/events_list.dart
  front_end_pocket_poll/lib/groups_widgets/group_categories.dart
  front_end_pocket_poll/lib/groups_widgets/group_create.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/groups_widgets/group_settings.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/main.dart
  front_end_pocket_poll/lib/widgets/first_login.dart
  front_end_pocket_poll/lib/widgets/user_settings.dart
  front_end_pocket_poll/test_driver/app_test.dart
Labels: Front End, enhancement

#580 Event Creation Changes
  README.md
  front_end_pocket_poll/lib/categories_widgets/categories_home.dart
  front_end_pocket_poll/lib/categories_widgets/category_create.dart
  front_end_pocket_poll/lib/categories_widgets/category_edit.dart
  front_end_pocket_poll/lib/events_widgets/event_create.dart
  front_end_pocket_poll/lib/events_widgets/event_details_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_pick_category.dart
  front_end_pocket_poll/lib/events_widgets/event_proposed_choice.dart
  front_end_pocket_poll/lib/events_widgets/event_update_ratings.dart
  front_end_pocket_poll/lib/groups_widgets/group_categories.dart
  front_end_pocket_poll/lib/groups_widgets/group_create.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/groups_widgets/group_settings.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/imports/user_tokens_manager.dart
  front_end_pocket_poll/lib/utilities/utilities.dart
  front_end_pocket_poll/lib/utilities/validator.dart
  front_end_pocket_poll/lib/widgets/category_row.dart
  front_end_pocket_poll/lib/widgets/first_login.dart
  front_end_pocket_poll/lib/widgets/members_page.dart
  front_end_pocket_poll/lib/widgets/user_settings.dart
  front_end_pocket_poll/pubspec.lock
  front_end_pocket_poll/pubspec.yaml
  front_end_pocket_poll/test_driver/app_test.dart
Labels: Front End
