Repository SCCapstone/decision_maker, pull requests merged in 2020-06, with the labels that each got.

#582 Intro Slideshow
  documents/acknowledgements.html
  front_end_pocket_poll/assets/images/categoriesInfoIcon.png
  front_end_pocket_poll/assets/images/defaultGroup.png
  front_end_pocket_poll/assets/images/defaultUser.png
  front_end_pocket_poll/assets/images/eventsInfoIcon.png
  front_end_pocket_poll/assets/images/groupsInfoIcon.png
  front_end_pocket_poll/lib/about_widgets/about_descriptions.dart
  front_end_pocket_poll/lib/about_widgets/about_page.dart
  front_end_pocket_poll/lib/events_widgets/event_create.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/main.dart
  front_end_pocket_poll/lib/widgets/first_login.dart
  front_end_pocket_poll/lib/widgets/intro_slideshow.dart
  front_end_pocket_poll/pubspec.lock
  front_end_pocket_poll/pubspec.yaml
Labels: Front End, enhancement

#583 The event lists are now "infinitely" scroll-able without consuming infinite memory.
  backEnd/src/main/java/controllers/GetBatchOfEventsController.java
  backEnd/src/main/java/handlers/CreateNewGroupHandler.java
  backEnd/src/main/java/handlers/EditGroupHandler.java
  backEnd/src/main/java/handlers/GetBatchOfEventsHandler.java
  backEnd/src/main/java/handlers/GetGroupHandler.java
  backEnd/src/main/java/handlers/NewEventHandler.java
  backEnd/src/main/java/models/GetGroupResponse.java
  backEnd/src/main/java/models/GroupForApiResponse.java
  backEnd/src/main/java/modules/PocketPollModule.java
  backEnd/src/main/java/utilities/RequestFields.java
  front_end_pocket_poll/lib/events_widgets/event_card_closed.dart
  front_end_pocket_poll/lib/events_widgets/event_card_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_card_occurring.dart
  front_end_pocket_poll/lib/events_widgets/event_card_voting.dart
  front_end_pocket_poll/lib/events_widgets/event_details_closed.dart
  front_end_pocket_poll/lib/events_widgets/event_details_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_details_occurring.dart
  front_end_pocket_poll/lib/events_widgets/event_details_voting.dart
  front_end_pocket_poll/lib/events_widgets/events_list.dart
  front_end_pocket_poll/lib/groups_widgets/group_create.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/groups_widgets/group_settings.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/models/group.dart
  front_end_pocket_poll/lib/utilities/request_fields.dart
Labels: Back End, Front End, enhancement

#584 AndroidX and Notification Icon
  front_end_pocket_poll/android/app/src/main/AndroidManifest.xml
  front_end_pocket_poll/android/app/src/main/res/drawable-hdpi/ic_stat_calendar_all_white_w_alpha.png
  front_end_pocket_poll/android/app/src/main/res/drawable-mdpi/ic_stat_calendar_all_white_w_alpha.png
  front_end_pocket_poll/android/app/src/main/res/drawable-xhdpi/ic_stat_calendar_all_white_w_alpha.png
  front_end_pocket_poll/android/app/src/main/res/drawable-xxhdpi/ic_stat_calendar_all_white_w_alpha.png
  front_end_pocket_poll/android/app/src/main/res/drawable-xxxhdpi/ic_stat_calendar_all_white_w_alpha.png
  front_end_pocket_poll/android/app/src/main/res/drawable/calendar_all_white_w_alpha.png
  front_end_pocket_poll/android/build.gradle
  front_end_pocket_poll/android/gradle.properties
  front_end_pocket_poll/android/settings_aar.gradle
  front_end_pocket_poll/pubspec.yaml
Labels: Front End

#586 Cron job for removed detached user category ratings has been added.
  backEnd/src/main/java/dbMaintenance/cronJobs/controllers/CronJobController.java
  backEnd/src/main/java/dbMaintenance/cronJobs/controllers/DetachedRatingsRemovalController.java
  backEnd/src/main/java/dbMaintenance/cronJobs/handlers/DetachedRatingsRemovalHandler.java
  backEnd/src/main/java/dbMaintenance/managers/MaintenanceDbAccessManager.java
  backEnd/src/main/java/dbMaintenance/modules/PocketPollMaintenanceComponent.java
  backEnd/src/main/java/dbMaintenance/modules/PocketPollMaintenanceModule.java
  backEnd/src/main/java/handlers/UpdateUserChoiceRatingsHandler.java
  backEnd/src/main/java/managers/DbAccessManager.java
Labels: Back End, enhancement

#587 Moving Durations to User Settings
  backEnd/src/main/java/controllers/CreateNewGroupController.java
  backEnd/src/main/java/controllers/EditGroupController.java
  backEnd/src/main/java/controllers/UpdateUserSettingsController.java
  backEnd/src/main/java/dbMaintenance/controllers/AddDurationsToUserSettingsController.java
  backEnd/src/main/java/dbMaintenance/controllers/DbMaintenanceController.java
  backEnd/src/main/java/dbMaintenance/handlers/AddDurationsToUserSettingsHandler.java
  backEnd/src/main/java/dbMaintenance/modules/PocketPollMaintenanceComponent.java
  backEnd/src/main/java/dbMaintenance/modules/PocketPollMaintenanceModule.java
  backEnd/src/main/java/exceptions/AttributeValueOutOfRangeException.java
  backEnd/src/main/java/handlers/AddPendingEventHandler.java
  backEnd/src/main/java/handlers/CreateNewGroupHandler.java
  backEnd/src/main/java/handlers/EditGroupHandler.java
  backEnd/src/main/java/handlers/GetCategoriesHandler.java
  backEnd/src/main/java/handlers/ProcessPendingEventHandler.java
  backEnd/src/main/java/handlers/ScanPendingEventsHandler.java
  backEnd/src/main/java/managers/DbAccessManager.java
  backEnd/src/main/java/models/AppSettings.java
  backEnd/src/main/java/models/Group.java
  backEnd/src/main/java/models/User.java
  backEnd/src/main/java/models/UserForApiResponse.java
  backEnd/src/test/json/edmond2.json
  backEnd/src/test/json/john_andrews12.json
  backEnd/src/test/json/johnplaysgolf.json
  front_end_pocket_poll/android/app/src/main/res/drawable/calendar_all_white_w_alpha.png
  front_end_pocket_poll/lib/events_widgets/event_create.dart
  front_end_pocket_poll/lib/groups_widgets/group_create.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/groups_widgets/group_settings.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/imports/users_manager.dart
  front_end_pocket_poll/lib/models/app_settings.dart
  front_end_pocket_poll/lib/models/group.dart
  front_end_pocket_poll/lib/utilities/config.dart
  front_end_pocket_poll/lib/widgets/first_login.dart
  front_end_pocket_poll/lib/widgets/user_settings.dart
  front_end_pocket_poll/test_driver/app_test.dart
Labels: Front End, enhancement

#589 Lots of small touch ups and fixes.
  backEnd/src/main/java/handlers/DeleteGroupHandler.java
  backEnd/src/main/java/handlers/GetAllBatchesOfEventsHandler.java
  backEnd/src/main/java/handlers/GetBatchOfEventsHandler.java
  backEnd/src/main/java/managers/DbAccessManager.java
  backEnd/src/main/java/models/EventForSorting.java
  front_end_pocket_poll/lib/about_widgets/about_descriptions.dart
  front_end_pocket_poll/lib/categories_widgets/category_create.dart
  front_end_pocket_poll/lib/categories_widgets/category_edit.dart
  front_end_pocket_poll/lib/events_widgets/event_card_closed.dart
  front_end_pocket_poll/lib/events_widgets/event_card_consider.dart
  front_end_pocket_poll/lib/events_widgets/event_card_occurring.dart
  front_end_pocket_poll/lib/events_widgets/event_card_voting.dart
  front_end_pocket_poll/lib/events_widgets/events_list.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/models/event_card_interface.dart
  front_end_pocket_poll/lib/utilities/sorter.dart
Labels: Back End, Front End, enhancement

#590 Touchups
  backEnd/src/main/java/dbMaintenance/controllers/AddOwnedGroupsCountController.java
  backEnd/src/main/java/dbMaintenance/controllers/DbMaintenanceController.java
  backEnd/src/main/java/dbMaintenance/handlers/AddDurationsToUserSettingsHandler.java
  backEnd/src/main/java/dbMaintenance/handlers/AddOwnedGroupsCountHandler.java
  backEnd/src/main/java/dbMaintenance/modules/PocketPollMaintenanceComponent.java
  backEnd/src/main/java/dbMaintenance/modules/PocketPollMaintenanceModule.java
  backEnd/src/main/java/handlers/CreateNewGroupHandler.java
  backEnd/src/main/java/handlers/DeleteGroupHandler.java
  backEnd/src/main/java/handlers/EditCategoryHandler.java
  backEnd/src/main/java/handlers/EditGroupHandler.java
  backEnd/src/main/java/handlers/NewCategoryHandler.java
  backEnd/src/main/java/handlers/NewEventHandler.java
  backEnd/src/main/java/handlers/ProcessPendingEventHandler.java
  backEnd/src/main/java/models/User.java
  backEnd/src/main/java/utilities/Config.java
  front_end_pocket_poll/lib/about_widgets/about_page.dart
  front_end_pocket_poll/lib/categories_widgets/category_create.dart
  front_end_pocket_poll/lib/groups_widgets/group_create.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/imports/api_manager.dart
  front_end_pocket_poll/lib/imports/categories_manager.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/imports/users_manager.dart
  front_end_pocket_poll/lib/models/user.dart
  front_end_pocket_poll/lib/utilities/config.dart
Labels: Back End, Front End, enhancement

#591 Removing unecessary stuff
  front_end_pocket_poll/lib/groups_widgets/group_category_row.dart
  front_end_pocket_poll/lib/groups_widgets/group_page.dart
  front_end_pocket_poll/lib/groups_widgets/group_settings.dart
  front_end_pocket_poll/lib/imports/api_manager.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/models/event_card_interface.dart
  front_end_pocket_poll/lib/widgets/user_row.dart
Labels: Front End

#592 Push notifications now working on ios
  front_end_pocket_poll/ios/Runner.xcodeproj/project.pbxproj
  front_end_pocket_poll/ios/Runner/Info.plist
  front_end_pocket_poll/ios/Runner/Runner.entitlements
  front_end_pocket_poll/lib/events_widgets/events_list.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/models/message.dart
Labels: Back End, Front End

#593 More small bug fixes
  backEnd/src/main/java/handlers/GetUserDataHandler.java
  front_end_pocket_poll/ios/Podfile.lock
  front_end_pocket_poll/lib/categories_widgets/category_create.dart
  front_end_pocket_poll/lib/categories_widgets/category_edit.dart
  front_end_pocket_poll/lib/categories_widgets/choice_row.dart
  front_end_pocket_poll/lib/events_widgets/event_create.dart
  front_end_pocket_poll/lib/events_widgets/event_update_ratings.dart
  front_end_pocket_poll/lib/groups_widgets/group_create.dart
  front_end_pocket_poll/lib/groups_widgets/group_settings.dart
  front_end_pocket_poll/lib/groups_widgets/groups_home.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/widgets/favorites_page.dart
  front_end_pocket_poll/lib/widgets/first_login.dart
  front_end_pocket_poll/lib/widgets/login_page.dart
  front_end_pocket_poll/lib/widgets/members_page.dart
  front_end_pocket_poll/lib/widgets/user_settings.dart
  front_end_pocket_poll/pubspec.lock
  front_end_pocket_poll/pubspec.yaml
Labels: Back End, Front End, bug

#594 Fixed styling and misplaced call to metrics.commonSetup
  backEnd/src/main/java/controllers/DeleteGroupController.java
  backEnd/src/main/java/handlers/AddPendingEventHandler.java
  backEnd/src/main/java/handlers/DeleteGroupHandler.java
  backEnd/src/main/java/handlers/EditGroupHandler.java
  backEnd/src/main/java/handlers/LeaveGroupHandler.java
  backEnd/src/main/java/handlers/ScanPendingEventsHandler.java
  backEnd/src/test/java/handlers/CreateNewGroupHandlerTest.java
  backEnd/src/test/java/handlers/DeleteCategoryHandlerTest.java
  backEnd/src/test/java/handlers/DeleteGroupHandlerTest.java
  backEnd/src/test/java/handlers/EditCategoryHandlerTest.java
  backEnd/src/test/java/handlers/EditGroupHandlerTest.java
  backEnd/src/test/java/handlers/GetCategoryHandlerTest.java
  backEnd/src/test/java/handlers/GetGroupHandlerTest.java
  backEnd/src/test/java/handlers/GetUserDataHandlerTest.java
  backEnd/src/test/java/handlers/GroupsManagerTest.java
  backEnd/src/test/java/handlers/LeaveGroupHandlerTest.java
  backEnd/src/test/java/handlers/MarkEventAsSeenHandlerTest.java
  backEnd/src/test/java/handlers/OptUserInOutHandlerTest.java
  backEnd/src/test/java/handlers/PendingEventsManagerTest.java
  backEnd/src/test/java/handlers/RegisterPushEndpointHandlerTest.java
  backEnd/src/test/java/handlers/RejoinGroupHandlerTest.java
  backEnd/src/test/java/handlers/UnregisterPushEndpointHandlerTest.java
  backEnd/src/test/java/handlers/UpdateSortSettingHandlerTest.java
  backEnd/src/test/java/handlers/UpdateUserSettingsHandlerTest.java
  backEnd/src/test/java/handlers/UsersManagerTest.java
  backEnd/src/test/java/handlers/VoteForChoiceHandlerTest.java
  backEnd/src/test/java/managers/SnsAccessManagerTest.java
  front_end_pocket_poll/android/app/build.gradle
  front_end_pocket_poll/android/app/google-services.json
  front_end_pocket_poll/android/app/src/debug/AndroidManifest.xml
  front_end_pocket_poll/android/app/src/main/AndroidManifest.xml
  front_end_pocket_poll/android/app/src/profile/AndroidManifest.xml
  front_end_pocket_poll/ios/GoogleService-Info.plist
  front_end_pocket_poll/ios/Runner.xcodeproj/project.pbxproj
  front_end_pocket_poll/lib/groups_widgets/group_categories.dart
Labels: Back End, bug

#595 Changes for iOS release
  .gitignore
  docs/support.html
  front_end_pocket_poll/android/app/build.gradle
  front_end_pocket_poll/android/app/src/main/AndroidManifest.xml
  front_end_pocket_poll/assets/icon/calendar_ios.png
  front_end_pocket_poll/ios/Runner.xcodeproj/project.pbxproj
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  front_end_pocket_poll/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  front_end_pocket_poll/pubspec.lock
Labels: enhancement

#597 Back end of reports
  backEnd/src/main/java/controllers/GiveAppFeedbackController.java
  backEnd/src/main/java/controllers/ProxyPostController.java
  backEnd/src/main/java/controllers/ReportGroupController.java
  backEnd/src/main/java/controllers/ReportUserController.java
  backEnd/src/main/java/handlers/EditGroupHandler.java
  backEnd/src/main/java/handlers/GiveAppFeedbackHandler.java
  backEnd/src/main/java/handlers/ReportGroupHandler.java
  backEnd/src/main/java/handlers/ReportUserHandler.java
  backEnd/src/main/java/managers/DbAccessManager.java
  backEnd/src/main/java/managers/SnsAccessManager.java
  backEnd/src/main/java/models/Event.java
  backEnd/src/main/java/models/Feedback.java
  backEnd/src/main/java/models/Group.java
  backEnd/src/main/java/models/Member.java
  backEnd/src/main/java/models/Report.java
  backEnd/src/main/java/modules/PocketPollComponent.java
  backEnd/src/main/java/modules/PocketPollModule.java
  backEnd/src/main/java/utilities/Config.java
  front_end_pocket_poll/ios/Runner/Info.plist
Labels: Back End, enhancement

#596 Reporting and Feedback
  README.md
  backEnd/src/main/java/controllers/GiveAppFeedbackController.java
  backEnd/src/main/java/controllers/ProxyPostController.java
  backEnd/src/main/java/controllers/ReportGroupController.java
  backEnd/src/main/java/controllers/ReportUserController.java
  backEnd/src/main/java/handlers/EditGroupHandler.java
  backEnd/src/main/java/handlers/GiveAppFeedbackHandler.java
  backEnd/src/main/java/handlers/ReportGroupHandler.java
  backEnd/src/main/java/handlers/ReportUserHandler.java
  backEnd/src/main/java/managers/DbAccessManager.java
  backEnd/src/main/java/managers/SnsAccessManager.java
  backEnd/src/main/java/models/Event.java
  backEnd/src/main/java/models/Feedback.java
  backEnd/src/main/java/models/Group.java
  backEnd/src/main/java/models/Member.java
  backEnd/src/main/java/models/Report.java
  backEnd/src/main/java/modules/PocketPollComponent.java
  backEnd/src/main/java/modules/PocketPollModule.java
  backEnd/src/main/java/utilities/Config.java
  front_end_pocket_poll/ios/Runner/Info.plist
  front_end_pocket_poll/lib/about_widgets/about_page.dart
  front_end_pocket_poll/lib/categories_widgets/category_edit.dart
  front_end_pocket_poll/lib/groups_widgets/group_categories.dart
  front_end_pocket_poll/lib/groups_widgets/group_settings.dart
  front_end_pocket_poll/lib/imports/globals.dart
  front_end_pocket_poll/lib/imports/groups_manager.dart
  front_end_pocket_poll/lib/imports/users_manager.dart
  front_end_pocket_poll/lib/models/favorite.dart
  front_end_pocket_poll/lib/utilities/utilities.dart
  front_end_pocket_poll/lib/utilities/validator.dart
  front_end_pocket_poll/lib/widgets/favorites_page.dart
  front_end_pocket_poll/lib/widgets/user_row.dart
  front_end_pocket_poll/lib/widgets/user_settings.dart
  front_end_pocket_poll/pubspec.yaml
Labels: Front End, enhancement
